.weather-tabs__navbar {
  display: flex;
}
.weather-tab__link {
  width: 136px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #d3d3d3;
}
.weather-tabs__tab a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.weather-tabs__tab_active .weather-tab__link {
  border-bottom: 3px solid #8bb5f3;
}
.weather-tabs__navbar {
  margin-bottom: 30px;
}
